.user {
    width: 585px;
    margin:auto;
    background-color: #0F0F0F;
    margin-top: 7%;
    img{
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        width: 585px;
        height: 195px;
    }
}

.user-info {
    color: snow;
    display:flex;
    justify-content: space-around;
    padding: 4% 5% 5% 2%;
    .avatar {
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
    .info{
        margin-right: 25%;
        .wrapper{
            display: flex;
            .name{
                .username{
                    display: block;
                    font-size: 80%;
                    color: rgb(151, 151, 151);
                }
            }
        }   
        .description{
            margin-top: 12%;
            font-size: 75%;
            .additional-info {
                display: flex;
                margin-top: 12%;
                color: rgb(151, 151, 151);
                span{
                    display: flex;
                    margin-right: 15%;
                    white-space: nowrap;
                    img{
                        height: 14px;
                        width: 14px;
                        filter: invert(67%) sepia(1%) saturate(0%) hue-rotate(53deg) brightness(90%) contrast(88%);
                        margin-right: 5%;
                    }
                }
            }
        }
    }
    .follow-button{
        text-decoration: none;
        cursor: pointer;
        border-radius: 2em;
        outline: none;
        height: 5.5%;
        font-size: 80%;
        color: snow;
        background-color: #0F0F0F;           
        border: 1px snow solid;
        padding: .5em 2.5em;
        transition: 0.3s ease;
        &:hover{
            color: #0F0F0F;
            background-color: snow;
        }
    }
    .Followed{
        color: #0F0F0F;
        background-color: snow;
    }
}

@media (max-width: 450px){
    * {
        font-size: 106.5%;
    }
    .user{
        margin-top: 0;
        img{
            border-radius: 0;
        }
    }
    .follow-button{
        text-align: center;
        width: auto;
    }
    .user-info{
        .avatar{
            margin: 0 6% 0 4%;
            width: 80px;
            height: 80px;
        }
        .info{
            margin-right: 5%;
            .description{
                .additional-info {
                    span{
                        img {
                            height: 25px !important;
                            width: 25px !important;
                        }
                    }
                }
            }
        }
    }

}