
.user {
    width: 585px;
    margin:auto;
    background-color: #0F0F0F;
    margin-top: 7%;
    img{
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        width: 585px;
        height: 195px;
    }
}

.user-info {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 4% 5% 8% 2%;
    .avatar {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin: -1% 5% 10% -50%;
    }
    .info{
        .wrapper{
            display: flex;
            align-items: center;
            .name{
                margin: 4% 150% 5% 0;
                .username{
                    margin-top: 3%;
                    display: block;
                    font-size: 80%;
                    color: rgb(151, 151, 151);
                }
            }
            .follow-button{
                text-decoration: none;
                position: absolute;
                cursor: pointer;
                border-radius: 2em;
                outline: none;
                height: 6%;
                right: 31%;
                color: white;
                background-color: #0F0F0F;           
                border: 1px white solid;
                padding: .5em 2.5em;
                transition: 0.3s ease;
                &:hover{
                    color: #0F0F0F;
                    background-color: white;
                }
            }
            .Followed{
                color: #0F0F0F;
                background-color: white;
            }
        }   
        .description{
            margin-top: 10%;
            font-size: 75%;
            .additional-info {
                display: flex;
                margin-top: 10%;
                color: rgb(151, 151, 151);
                span{
                    display: flex;
                    margin-right: 15%;
                    img{
                        filter: invert(67%) sepia(1%) saturate(0%) hue-rotate(53deg) brightness(90%) contrast(88%);
                        margin-right: 5%;
                    }
                }
            }
        }
    }
}