.article{
    background-color: #0F0F0F;
    width: 585px;
    color: snow;
    margin:auto;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    .post-info{
        .poster-info{
            display: flex;
            justify-content: left;
            padding-top: 4%;
            .avatar{
                margin: 0 6% 0 5%;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .who-when-what{
                font-size: 80%;
                .name{ 
                    white-space: nowrap;
                    font-size: 105%;
                    margin-right: 3%;
                }
                .username{
                    margin-right: 4%;
                    color: rgb(151, 151, 151);
                }
                .when{
                    margin-right: 4%;
                    white-space: nowrap;
                }
                .content{
                    font-size: 125%;
                    margin-top: 6%;
                    .footer-text{
                        width: 80%;
                        font-size: 80%;
                    }
                    .main-text{
                        width: 80%;
                        font-size: 80%;
                        a{
                            text-decoration: none;
                            color: royalblue;
                        }    
                    }
                    .content-image{
                        margin-top: 5%;
                        width: 90%;
                    }
                    .post-buttons{
                        display: flex;
                        padding-bottom: 3em;
                        margin-top: 2em;
                        img{
                            margin-right: 0.5em;
                            width: 14px;
                            height: 14px;
                            filter: invert(67%) sepia(1%) saturate(0%) hue-rotate(53deg) brightness(90%) contrast(88%);
                            cursor: pointer;
                        }
                        span{
                            cursor: pointer;
                            margin-right: 2em;
                            font-size:80%;
                            color: rgb(153, 153, 153);
                            &:hover{
                                color: snow;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 450px){
    .article{
        font-size: 105%;
        border-left:1em solid transparent;
        border-right:1em solid transparent;
        text-overflow: ellipsis;
        .post-info{
            .poster-info{
                .avatar{
                    margin-left: 2%;
                    width: 70px;
                    height: 70px;
                }
                .who-when-what{
                    .content{
                        font-size: 100%;
                        .footer-text{
                            width: 90%;
                            font-size: 95%;
                        }
                        .main-text{
                            width: 90%;
                            font-size: 95%;
                            a{
                                word-break: break-all;
                                text-decoration: none;
                                color: royalblue;
                            }    
                        }
                        .content-image{
                            width: 75%;
                        }
                    }
                    .post-buttons{
                        font-size: 110%;
                        img.icon{
                            width: 20px !important;
                            height: 20px !important;
                        }
                    }
                }      
            }
        }
    }
}